[Unit]
Description=Pre-Fall Detection System
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/fallguard/app
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=10

# Standard output and error
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target